@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500,700&display=swap');

* {
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: rgb(233, 129, 129);
    border-radius: 50px;
    background-color: rgb(240, 17, 17);
    width: 100%;
    position: fixed;
}

.navlist {
    display: flex;
    align-items: center;
}

.navlist li {
    list-style: None;
    padding: 26px 30px;
    margin-left: 15%;
    max-width: 100%;
    font-weight: 900;
}

.navlist .home {
    font-size: 25px;
    color: white
}

.navlist .phone i {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-top: 5%;
    margin-left: 380%;
    color: white;
}

.navlist .phone h4 {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    margin-left: 400%;
    margin-top: -15%;
    color: white;
}

.navlist li a {
    text-decoration: none;
    color: white
}

.navlist li a:hover {
    text-decoration: none;
    color: grey;
}

.navlist li .fa:hover {
    color: grey;
}
.navlist .home a{
    color: bisque;
}

.btn {
    border-radius: 50px;
    font-weight: 700;
    width: 90px;
    height: 30px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
}
.btn1 {
    margin-left: 50%;
    align-items: center;
    justify-content: center;
}

.btn2 {
    margin-left: 2%;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: grey;
    color: whitesmoke;
}

/* ----------Services---------------*/
.service {
    text-align: center;
    margin-left: 3.5%;
    margin-top: 100px;
    /* margin-bottom: 40px; */
    float: left;
    padding: 30px 50px;
    border: none;
    border-radius: 50px;
    border: 0.5px rgb(240, 17, 17);
    max-width: 180px;
    min-width: 180px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.service i {
    font-size: 50px;
    color: green;
}

/*----------Footer-----------------*/
.footer {
    text-align: center;
    margin-top: 100px;
    float: left;
    padding: 0px 50px;
    /* border-top: 1px solid black; */
    background-color: rgba(240, 17, 17, 0.986);
    font-size: 14px;
    color: bisque;
    width: 92.6%;
    padding-top: 20px;
}
.footer-about{
    margin-bottom: 10px;
}
.footer-col{
    width: 90%;
    /* background-color: black; */
    padding: 10px 15px;
}
.footer-row{
    display: flex;
    margin-left: 30px;
}
.footer-bottom{
    margin-top: 20px;
    margin-bottom: 10px;
    /* background-color: rgba(240, 17, 17, 0.986); */

}
.social-links a {
    padding: 10px 10px;
    color:bisque;
}

.social-links a i{
    /* padding: 10px 10px; */
    color:bisque;
}
.social-links a{
    padding: 10px 10px;
}

.chatbot a{
    position: fixed;
    bottom: 0px;
    margin-bottom: 30px;
    font-size: 25px;
}