@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500,700&display=swap');
*{
    margin:0;
    padding:0;
}
body {
    background-color: #34ADFF;
    background-image: -webkit-linear-gradient(150deg, rgb(233, 129, 129) 50%, grey 50%);
    min-height: 590px;
    /* align-items: center; */
}

.form {
    text-align: center;
    max-width: 30%;
    background-color: rgba(245, 67, 67, 0.548);
    margin-left: 32%;
    margin-top: 1%;
    padding: 50px 50px;
    border-radius: 50px;

}

.form h1 {
    color: bisque;
    margin-top: -10px;
    margin-bottom: 10px;
}

.form input {
    border: none;
    text-align: center;
    padding: 10px 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.form input[type=submit]{
    cursor: pointer;
}
.form input[type=submit]:hover{
    background-color: grey;
    color: whitesmoke;
}

.form label {
    padding: 5px 5px;
    margin-bottom: 20px;
    border-radius: 50px;
    color: bisque;
    font-weight: 700;
}
.home{
    font-size: 20px;
    color: bisque;
    cursor: pointer;
}
.home i:hover{
    color: grey;
}
.row{
    display: flex;
    margin-left: -105px;
    padding: 20px 30px;
}
.service{
    margin-top: 7%;
    margin-left: 8%;
    margin-bottom: -7%;
    text-align: center;
}
.service img{
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
.footer {
    text-align: center;
    margin-top: 100px;
    float: left;
    padding: 30px 50px;
    border-top: 1px solid rgba(0, 0, 0, 0.068);
    background-color: rgba(240, 17, 17, 0.445);
    font-size: 14px;
    color: bisque;
    width: 92.6%;
}
.social-links a{
    padding: 10px 10px;
}